html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    /*background-color: #1C1F24;*/
    background-color: black;
    background-image: url("/assets/img/mainBG.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#logo {
    width: 65px;
    height: auto;
    padding-top: 5px;
    float:left;
    padding-left: 10px;
    border-radius: 8px;
}

#content {
    border-left: solid rgb(88, 96, 115, .2) 3px;

    width: 60%;
    float: right;
    height: 100%;
    overflow-x: auto
}

#secondary {
    /*border: solid blue 5px;*/
    width: 40%;
    float: left;
    height: 100%;
    position: fixed;
}

#searchcontent {
    border: 5 px solid red
}

#info { 
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    /*border: solid yellow 5px;*/
    z-index: -1;
}

#container {
    /*border: solid green 5px;*/
    height: 100%;
}

#nextButton {
    position: relative;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 1%;
}

#nextButtonSearch { 
    position: relative;
}
.example6 .navbar-brand>img {
    margin-top: -13%;
  }

#navbar6 a {
    color: #67e2ef;
}

#navbar6 a:hover{
    color: #68f2d5;
}

#content .mainForm {
    width: 350px;
    position: absolute;
    bottom: 0;
    font-size: 1.2em;
    height: 55%;
    margin-left: 23.5%;
}

#gifs {
    width: 100%;
    height: 100%;
}

.videoList {
    height: 20px;
    width: 350px;
    margin: 0 auto;
    font-size: 1.2em;
    margin-top: 10%;
    color: #F0F7FF;
    text-align: center;
}

.textList {
    height: 100%;
    position: absolute;
    width: 100%;
    /*border: solid paleturquoise 5px;*/
}

.textList h1 {
    margin-left: 25%;
    margin-top: 10%;
}

#assistInfoImg {
    position: absolute;
    bottom: 5%;
    max-height: 100%;
    max-width: 100%;
    margin-left: 3%;
    /*border: solid blueviolet 5px;*/
}

#vidSrc {
    margin-top: 40%;
    max-height: 100%;
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border: transparent;
}

#videoDiv {
    width: 100%;
    margin-left: 2.5%;
}

#aInfo p, #aInfo li {
    font-size: x-large;
}

#aInfo {
    overflow-x:hidden;
    overflow-y: auto;
    height: 75%;
    margin-top: -10%;
    margin-right: 5%;
    background-color: rgb(34, 34, 34, .75);
    color: #F0F7FF;
    padding: 15px;
    padding-bottom: 15px;
}

.mainForm h3 {
    text-align: center;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin-top: 14px;
    font-size: 1.1em;
    width: 100px;
    background-color: #68f2d5;
    border-color: black;
    padding: 3px 0px;
    color: white;
    text-shadow: 2px 2px 4px black;

}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
    background-color: #67e2ef;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #67e2ef;
}

.searchFormSubmit {
    transition: background-color 0.4s ease;
    text-align: center;
    font-size: 1.3em;
    width: 100px;
    background-color: #67e2ef;
    padding: 3px 0px;
    color: white;
}

.searchFormSubmit:link, .searchFormSubmit:visited, .searchFormSubmit:hover, .searchFormSubmit:active {
    color: white;
    background-color: #68f2d5;
}

.searchFormSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #68f2d5;
}

#user, #pass, #pass2, #pass3 {
    text-align: center;
    font-size: 1.1em;
    width: 300px;
    border-radius: 6px;
    margin: 0 auto;
    background-color: black;
    color:#F0F7FF;
}

#user:focus, #pass:focus, #pass2:focus, #pass3:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #68f2d5;
}

#char1Search:focus, #charDataSearch:focus, #char2Search:focus, #assist1Search:focus, #assist2Search:focus, 
#gameSec:focus, #assistInfoSelect:focus, #videoLink:focus, #version:focus,
#matchDate:focus, #timestamp:focus, #playerOne:focus, #playerTwo:focus  {
    outline: none;
    box-shadow: 0px 0px 1px 1px #68f2d5;
}

#player1Search:focus, #player2Search:focus, .form-control:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #68f2d5;
}

#char1Search, #charDataSearch, #char2Search, #assist1Search, 
#assist2Search, #gameSec, #assistInfoSelect, #videoLink, #version,
#matchDate, #timestamp, #playerOne, #playerTwo {
    background-color: black;
    color:#F0F7FF;
    text-align: center;
}

#player1Search, #player2Search, .form-control {
    background-color: black;
    color:#F0F7FF;
    text-align: center;
}

#video {
    z-index: 225;
    margin-top: -20px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

.gameLogo {
    width: 55%;
}

.table {
    width: 65%; 
    margin: 0 auto;
    margin-top: 5%;
    color: #F0F7FF;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    background-color: transparent;
    border-top: 2px solid rgb(34, 34, 34);
}

#videoListTable {
    background-color: rgb(34, 34, 34, .75);
}

.table-responsive {
    margin-top: 2%;
}

#content .table tr {
    border-bottom: 2px solid rgb(34, 34, 34);
}


.alert {
    width: 15%;
    position: absolute;
    margin: 0 auto; 
    margin-left: 40%;
    z-index: 1;
    text-align: center;
    margin-top: 10%;
}

.fa-youtube {
    transition: color 0.5s ease;
    color:#68f2d5;
}

.fa-youtube:hover {
    transition: color 0.5s ease;
    color: #67e2ef;
}

.fa-trash {
    transition: color 0.5s ease;
    color: black;
}

.delete:hover > .fa-trash {
    transition: color 0.5s ease;
    color: gray;
}


#static {
    margin: 0 auto;
    font-size: 1.2em;
    margin-top: 15%;
    margin-left: 2%;
    color: rgb(34, 34, 34);
    text-align: center;
}


#videoFormTable {
    width: 80%; 
    margin: 0 auto;
    background-color: transparent;
    color: rgb(34, 34, 34);
    border-radius: 5px;
    border-top: 2px solid rgb(34, 34, 34);
    font-size: 16px;
}

#videoFormTable tr {
    height: 80px;
}

#videoPreview { 
    background-color: rgb(47, 47, 47, .9);
    margin-top: 40%;
    color: white;
    text-align: center;
    padding-top: 20%;
    font-size: 75px;
    font-family: Arial;
    font-style: italic;
    font-weight: bold;
    width: 1100;
    height: 550;
    max-height: 100%;
    max-width: 99%;
    margin-left: 5px;
}

#videoListTable {
    word-wrap: break-word;
    width: 70%;
}

#tdP1, #tdP2 {
    width: 110px;
    max-width: 110px;
}

#videoFormTable > tbody > tr > td > input {
    width: 150px;
    text-align: center;
    margin: 0 auto;
}
#videoFormTable select {
    text-align: center;
    width: 150px;
}

#searchFormTable {
    width: 50%; 
    background-color: transparent;
    color: black;
    font-size: 16px;
    border: 5px solid transparent;
    margin-bottom: -3%;
    margin-top: 10%;
}

#searchFormTable > tbody > tr {
    height: 65px;
    max-height: 65px;
    vertical-align: middle;
}

#divTable {
    width: 20%;
    margin-left: 78%;
    margin-top: -23%;
    border-bottom: transparent;
    border-top: transparent;
}

#gameSec {
    margin-left: 5%;
}

#searchFormDiv {
    /*border: 5px solid red;*/
}

#divTable > table {
    border: 5px solid transparent;
    vertical-align: middle;
}

#player1Search, #player2Search {
    width: 125px;
}

#versionImgSearch {
    height: 50px;
    width: 50px;
    text-align: center;
    margin-left: 25%;
}


#searchFormTable > tbody > tr > td > .form-control {
    vertical-align: middle;
}

#vs {
    color: white;
}

#searchFormTable > tbody > tr  {
    vertical-align: middle;
}

#report {
    margin: 0 auto;
    display: block;
    margin-top: 20%;
}

#reportSubmit {
    margin: 0 auto; 
    margin-top: 2%;
    margin-bottom: 1%;
}


select:invalid {
    color: gray;
}

.table > tbody > tr > td{
    vertical-align: middle;
    text-align: center;
}


.table > tbody > tr > th  {
    vertical-align: middle;
}

.table > tbody > tr > .td{
    vertical-align: middle;
}

#assistInfoSelect {
    width: 25%;
    margin-top: 4%;
    margin-left: 37.5%;
}

#static > .form-control {
    display: inline;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 2%;
}

#static > .table > tbody > tr > td {
    vertical-align: bottom;
    text-align: center;
}

#static > .table > tbody > tr {
    height: 150px;
    max-height: 150px;
}

#static > .table > tbody > tr > td > img{
    margin-bottom: 5%;
}

#static > .table > tbody > tr > td > #assist1Img{
    margin-bottom: 17%;
}#static > .table > tbody > tr > td > #assist2Img{
    margin-bottom: 17%;
}

#dataFormTable {
    width: 65%;
    margin: 0 auto;
    margin-top: 0px;
    margin-top: 11%;
    color: rgb(34, 34, 34);
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    background-color: transparent;
    border-top: 0px solid transparent;
    padding: 10px;
}

#characterData {
    max-height: 70%;
    max-width: 70%;
    bottom: 0;
    position: fixed;
    z-index: -10;
}

#characterDataTable{
    background-color: rgb(34, 34, 34, .75);
    color: #F0F7FF;
    margin-bottom: 2%;
}


/*#charDataContainer {
    background-image: url("/assets/img/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/

#characterDataTable td{
    max-width: 100px;
    width: 100px;
    font-size: 32px;
    font-family: Arial;
    font-style: italic;
    font-weight: bold;
}

#characterDataTable tr{
    max-height: 100px;
    height: 100px;
    padding-right: 3px;
}

#characterDataTable tbody:first-child #ignition{
    background-color:#060000;
    color: white;
    border-bottom: 4px solid #393269;
    border-right: 4px solid #393269;
    padding: 5px;
    font-size: 24px;
    font-family: Arial;
    font-style: italic;
    font-weight: bold;
    transform: skewX(-15deg);
}

#moveDiv{
    font-size: 34px;
    font-family: Arial;
    font-style: italic;
    font-weight: bold;
    -webkit-text-fill-color: transparent; /* Webkit Disable Fallback */
    background: -webkit-linear-gradient(#f2bc3e, #f8c761, #da9d32, #cc8325, #e79225, #f69e23);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: .25px;
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-color: black;

}

#moveDivContainer:not(:empty)  { 
    transform: skewX(-15deg);
    width: 70%;
    margin-left: 15%;
    background-color: #f1f2f6;
    background-image: linear-gradient(315deg, #f1f2f6 0%, #c9c6c6 74%);
    padding: 10px;
    border: 1px solid #b8b8b8;
    -moz-box-shadow: 0 0 1px 2px #999;
    -webkit-box-shadow: 0 0 1px 2px #999;
}

#loginForm .btn {
    margin-left: 28%;
}

#signupForm .btn {
    margin-left: 28%;
}

#changeForm .btn {
    margin-left: 28%;
}

#static > #version {
    margin-left: 3.5%;
    width: 8%;
    text-align: center;
}

#static > #videoLink {
    width: 45%;
    text-align: center;
}

#static > #matchDate {
    width: 12%;
    margin-left: 3.5%;
    text-align: center;
}

#static > .btn {
    display: inline;
}

#static > .secondBtn {
    width:120px;
    margin-right: 40px;
}
     

#static > .mainBtn {
    margin-right: 40px;
}

#static > .thirdBtn {
    width: 150px;
}

button.delete {
    float:right;
    text-align: left;
}

.flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#donations {
    position: fixed;
    bottom: 0;
    right: 50;
}

/* The emerging W3C standard
   that is currently Firefox-only */
  
  /* Works on Chrome/Edge/Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  *::-webkit-scrollbar-track {
    background: #D0D3D4;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #7C878E;
    border-radius: 20px;
    border: 3px solid #D0D3D4;
  }


  @media only screen and (max-width: 600px) {
      #searchFormTable {
          margin-top: 20%;
      }

      .alert {
        width: 50%;
        height: 125px;
        position: absolute;
        margin: 0 auto; 
        margin-left: 25%;
        z-index: 1;
        text-align: center;
        margin-top: 130%;
    }
  }

