html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    /*background-color: #1C1F24;*/
    background-color: rgb(34, 34, 34)
}

#logo {
    width: 65px;
    height: auto;
    padding-top: 5px;
    float:left;
    padding-left: 10px;
    border-radius: 8px;
}

#content {
    border: solid red 5px;
    width: 60%;
    float: right;
    height: 100%
}

#secondary {
    border: solid blue 5px;
    width: 40%;
    float: left;
    height: 100%;
    position: fixed;
}

#container {
    border: solid green 5px;
    height: 100%;
}

#nextButton {
    position: relative;
}

#nextButtonSearch { 
    position: relative;
}
.example6 .navbar-brand>img {
    margin-top: -13%;
  }

#navbar6 a {
    color: #67e2ef;
}

#navbar6 a:hover{
    color: #68f2d5;
}

#content .mainForm {
    width: 350px;
    position: absolute;
    bottom: 0;
    font-size: 1.2em;
    height: 55%;
    margin-left: 23.5%;
}

#gifs {
    width: 100%;
    height: 100%;
}

.videoList {
    height: 20px;
    width: 350px;
    margin: 0 auto;
    font-size: 1.2em;
    margin-top: 10%;
    color: white;
    text-align: center;
}

.mainForm h3 {
    text-align: center;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin-top: 14px;
    font-size: 1.1em;
    width: 100px;
    background-color: #68f2d5;
    border-color: black;
    padding: 3px 0px;
    color: white;
    text-shadow: 2px 2px 4px black;
    margin-left: 28%;

}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
    background-color: #67e2ef;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #67e2ef;
}

.searchFormSubmit {
    transition: background-color 0.4s ease;
    text-align: center;
    font-size: 1.3em;
    width: 100px;
    background-color: #67e2ef;
    padding: 3px 0px;
    color: white;
}

.searchFormSubmit:link, .searchFormSubmit:visited, .searchFormSubmit:hover, .searchFormSubmit:active {
    color: white;
    background-color: #68f2d5;
}

.searchFormSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #68f2d5;
}

#user, #pass, #pass2, #pass3 {
    text-align: center;
    font-size: 1.1em;
    width: 300px;
    border-radius: 6px;
    margin: 0 auto;
}

#user:focus, #pass:focus, #pass2:focus, #pass3:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #68f2d5;
}

#video {
    z-index: 225;
    margin-top: -20px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

.gameLogo {
    width: 55%;
}

.table {
    width: 65%; 
    margin: 0 auto;
    margin-top: 5%;
    background-color: #586073;
    color: #ffffff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    background-color: transparent;

}


.alert {
    width: 15%;
    position: absolute;
    margin: 0 auto; 
    margin-left: 2%;
    z-index: 1;
    text-align: center;
    margin-top: 20%;
}

.fa-youtube {
    transition: color 0.5s ease;
    color:#68f2d5;
}

.fa-youtube:hover {
    transition: color 0.5s ease;
    color: #67e2ef;
}

.fa-trash {
    transition: color 0.5s ease;
    color: black;
}

.delete:hover > .fa-trash {
    transition: color 0.5s ease;
    color: gray;
}

#static {
    margin: 0 auto;
    margin-top: 5%;
    padding: 10px;
    color: black;
    border-radius: 5px;
}

#videoFormTable {
    width: 50%; 
    margin: 0 auto;
    background-color: #586073;
    color: black;
    border-radius: 5px;
    font-size: 16px;
}

#videoFormTable > tbody > tr > td > input {
    width: 150px;
    margin: 0 auto;
}

#searchFormTable {
    width: 50%; 
    background-color: transparent;
    color: black;
    font-size: 16px;
    border: 5px solid transparent;
    margin-bottom: -3%;
    margin-top: 7%;
}

#searchFormTable > tbody > tr > td > .form-control {
    vertical-align: middle;
}

#vs {
    color: white;
}

#searchFormTable > tbody > tr  {
    vertical-align: middle;
}

#report {
    margin: 0 auto;
    display: block;
    margin-top: 7%;
}


select:invalid {
    color: gray;
}

.table > tbody > tr > td{
    vertical-align: middle;
    text-align: center;
}

.table > tbody > tr > #name{
    padding-left: 20px;
}
.table > tbody > tr > #name2{
    padding-right: 20px;
}

.table > tbody > tr > th  {
    vertical-align: middle;
}

.table > tbody > tr > .td{
    vertical-align: middle;
}

#static > .form-control {
    display: inline;
    margin: 0 auto;
    width: 25%;
    margin-bottom: 2%;
}


#static > #version {
    margin-left: 3.5%;
    width: 15%;
}

#static > #videoLink {
    width: 30%;
    margin-left: 20%;
}

#static > #matchDate {
    width: 10%;
    margin-left: 3.5%;
}

#static > .btn {
    display: inline;
}

#static > .secondBtn {
    width:120px;
    margin-right: 40px;
}
     

#static > .mainBtn {
    margin-left: 35%;
    margin-right: 40px;
}

#static > .thirdBtn {
    width: 150px;
}

button.delete {
    float:right;
    text-align: left;
}

.flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#donations {
    position: fixed;
    bottom: 0;
    right: 50;
}

/* The emerging W3C standard
   that is currently Firefox-only */
   * {
    scrollbar-color: #D0D3D4 #7C878E;
  }
  
  /* Works on Chrome/Edge/Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  *::-webkit-scrollbar-track {
    background: #D0D3D4;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #7C878E;
    border-radius: 20px;
    border: 3px solid #D0D3D4;
  }


  @media only screen and (max-width: 600px) {
      #searchFormTable {
          margin-top: 20%;
      }

      .alert {
        width: 50%;
        height: 125px;
        position: absolute;
        margin: 0 auto; 
        margin-left: 25%;
        z-index: 1;
        text-align: center;
        margin-top: 130%;
    }
  }

